<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="all_comics" class="nav-link" href="/all_c" >All comics</a>
                </li>                
                <li class="nav-item">
                    <a id="wishlist" class="nav-link" href="/wishlist">Wishlist</a>
                </li>
                <li class="nav-item">
                    <a id="my_collection" class="nav-link" href="/my_collection">Collection </a>
                </li>
                <li class="nav-item">
                    <a id="sold" class="nav-link" href="/sold">Sold</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<script>
    $(document).ready(function () {
    $("#{{request.endpoint}}").parent().addClass("active"); })
</script>