{% if wishlist %}
    {% for c in wishlist %}                       
        <tr>
            <td><img class="pic" src = "{{ c.docfile.url }}" /></td>
            <td><a href="/view_from_wishlist/{{c.id}}">{{c.title}}</a></td>
            <td>{{c.cover}}</td>
            <td>{{c.creator}}</td>
            <td>{{c.year|date:"M d, Y"}}</td>
            <td>{{c.price}}</td>
            <td>
                <a href="/from_wish_to_collect/{{c.id}}">add to my collection</a>
            </td> 
            {% if c.author.id == request.session.id %}
                <td>
                    <a href="/{{c.id}}/edit_wish">edit</a>  
                </td> 
            {% endif %}                
        </tr>
    {% endfor %}
{% endif %}