{% if all_comics %}
    {% for c in all_comics %}   
        <tr>
            <td><img class="pic" src = "media/{{c.docfile}}"></td>
            <td><a href="/view/{{c.id}}">{{c.title}}</a></td>
            <td>{{c.cover}}</td>
            <td>{{c.creator}}</td>
            <td>{{c.year|date:"M d, Y" }}</td>
            <td>
                {% if c in wishlist %}
                    <img class="checkmark" src="media/16.png">
                {% else %}
                    <a href="from_all_to_wish/{{c.id}}">To my wishlist</a>
                {% endif %} 
            </td>
            {% if c.author.id == request.session.id %}
                <td>
                    <a href="/{{c.id}}/edit">edit</a> 
                </td> 
            {% endif %}                         
        </tr>   
    {% endfor %} 
    
{% endif %}
